In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Bengaluru_House_Data.csv')

In [4]:
df.head(3)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00

# Descriptive statistics

## measures of central tendancy

In [18]:
df.mean()

bath         2.692610
balcony      1.584376
price      112.565627
dtype: float64

In [19]:
df.median()

bath        2.0
balcony     2.0
price      72.0
dtype: float64

In [20]:
df.mode()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,Ready To Move,Whitefield,2 BHK,GrrvaGr,1200,2.0,2.0,75.0

# Measures ofÂ spread

In [21]:
df.std()

bath         1.341458
balcony      0.817263
price      148.971674
dtype: float64

In [22]:
df.var()

bath           1.799510
balcony        0.667920
price      22192.559586
dtype: float64